.d-section {
  display: flex;
}

.d-section__item {
  margin-left: 10px;
}

.d-section__row {
  margin: 10px 0;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 30px;
}

.rs-col {
  padding: 5px 10px;
  border: 1px solid #bfbfbf;
  background: #ededed;
  color: black;
}
