@import '../../../styles/mixins';

.rs-select__option-group {
  position: relative;
  overflow: hidden;
  padding-left: 10px;
  border-bottom: 2px solid -color('gray-1');
  transition: all 0.25s ease;

  &:last-child {
    border: 0;
  }

  h5 {
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding: 7px 0;
    max-height: 28px;
    font-size: 0.7rem;
    opacity: 0.5;
    transition: all 0.25s ease;
    user-select: none;

    * {
      pointer-events: none;
    }
  }
}

.rs-select__option-group.hiddenOptionGroup {
  border-bottom: 0 solid -color('gray-1');

  h5 {
    padding: 0;
    max-height: 0;
  }
}
