.rs-button {
  --rs-color: '';
  --rs-color-rotate: var(--rs-primary);
  --rs-color-darken: var(--rs-primary);
  --rs-button-padding: 8px 12px;
  --rs-button-margin: 5px;
  --rs-button-border-radius: 12px;
  --rs-button-text-color: #fff;
}
