@import 'root';
@import '../../styles/mixins';

@keyframes rotateSwitch {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rs-switch {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 5px;
  min-width: 48px;
  height: 28px;
  border: 0;
  border-radius: 20px;
  background: -color('gray-3');
  color: #fff;
  transition: all 0.25s ease;
  align-items: center;
  justify-content: center;
}

.rs-switch--icon .rs-switch__input:checked ~ .rs-switch__circle {
  color: #fff !important;
}

.rs-switch--icon .rs-switch__circle {
  background: transparent !important;
  box-shadow: none !important;
}

.rs-switch--icon .rs-switch__circle i {
  font-size: 1.3rem;
  opacity: 1;
}

.rs-switch--indeterminate .rs-switch__input {
  pointer-events: none;
}

.rs-switch--indeterminate .rs-switch__circle {
  left: 50% !important;
  transform: translate(-50%);
}

.rs-switch--square {
  border-radius: 5px;
}

.rs-switch--square .rs-switch__background {
  border-radius: 5px !important;
}

.rs-switch--square .rs-switch__circle {
  border-radius: 5px !important;
}

.rs-switch::after {
  position: absolute;
  z-index: 200;
  visibility: hidden;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: 3px dashed -color('color');
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 50%;
  content: '';
  opacity: 0;
  transition: all 0s ease 0s;
  animation: rotateSwitch 0.6s linear infinite 0.25s;
  pointer-events: none;
}

.rs-switch::before {
  position: absolute;
  z-index: 200;
  visibility: hidden;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: 3px solid -color('color');
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 50%;
  content: '';
  opacity: 0;
  transition: all 0s ease 0s;
  animation: rotateSwitch 0.6s ease infinite 0.25s;
  pointer-events: none;
}

.rs-switch--loading {
  min-width: 28px !important;
  width: 28px !important;
  border-radius: 20px !important;
  pointer-events: none;
}

.rs-switch--loading .rs-switch__circle {
  border-radius: 50% !important;
}

.rs-switch--loading .rs-switch__background {
  opacity: 0 !important;
}

.rs-switch--loading::after {
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease 0.3s;
}

.rs-switch--loading::before {
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease 0.3s;
}

.rs-switch:hover {
  background: -color('gray-4');
}

.rs-switch:active {
  transform: scale(0.9);
}

.rs-switch__background {
  position: absolute;
  left: -100%;
  z-index: 2;
  padding-bottom: 100%;
  width: 100%;
  height: auto;
  border-radius: inherit;
  border-radius: 50%;
  background: -color('color');
  transition: all 0.25s ease-out;
  transform: scale(1);
}

.rs-switch__text {
  position: relative;
  z-index: 9;
  display: flex;
  overflow: hidden;
  padding: 5px;
  padding-left: 25px;
  color: -color('text');
  white-space: nowrap;
  font-size: 0.7rem;
  transition: all 0.25s ease 0.05s;
  align-items: center;
  justify-content: center;
}

.rs-switch__text.on {
  position: absolute;
  opacity: 0;
  transform: translate(-100%);
}

.rs-switch__text i {
  font-size: 1rem;
  opacity: 0.7;
}

.rs-switch__circle {
  position: absolute;
  left: 4px;
  z-index: 10;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: -color('background');
  color: -color('text');
  transition: all 0.25s ease;
  align-items: center;
  justify-content: center;
}

.rs-switch__circle i {
  font-size: 0.8rem;
}

.rs-switch__input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0 !important;
  cursor: pointer;
}

.rs-switch__input:active:checked ~ .rs-switch__circle {
  left: calc(100% - 30px);
}

.rs-switch__input:active ~ .rs-switch__circle {
  width: 25px;
}

.rs-switch__input:checked ~ .rs-switch__background {
  left: 0;
  padding-bottom: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.25s ease;
  transform: scale(1);
}

.rs-switch__input:checked ~ .rs-switch__text {
  padding-right: 25px;
  padding-left: 5px;
  color: #fff;
}

.rs-switch__input:checked ~ .rs-switch__text i {
  opacity: 1;
}

.rs-switch__input:checked ~ .rs-switch__text.on {
  position: relative;
  opacity: 1;
  transform: translate(0);
}

.rs-switch__input:checked ~ .rs-switch__text.off {
  position: absolute;
  opacity: 0;
  transform: translate(100%);
}

.rs-switch__input:checked ~ .rs-switch__circle {
  left: calc(100% - 24px);
  box-shadow: -5px 0 25px 0 -color('background', 0.6);
  color: -color('color');
}
