@import '../../styles/mixins';

.rs-row {
  position: relative;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.rs-col {
  position: relative;
  width: 100%;
}

.rs-col--w-1 {
  width: 8.33%;
}

.rs-col--w-2 {
  width: 16.66%;
}

.rs-col--w-3 {
  width: 25%;
}

.rs-col--w-4 {
  width: 33.33%;
}

.rs-col--w-5 {
  width: 41.66%;
}

.rs-col--w-6 {
  width: 50%;
}

.rs-col--w-7 {
  width: 58.33%;
}

.rs-col--w-8 {
  width: 66.66%;
}

.rs-col--w-9 {
  width: 75%;
}

.rs-col--w-10 {
  width: 83.33%;
}

.rs-col--w-11 {
  width: 91.66%;
}

.rs-col--w-12 {
  width: 100%;
}

.rs-col--offset-1 {
  margin-left: 8.33%;
}

.rs-col--offset-2 {
  margin-left: 16.66%;
}

.rs-col--offset-3 {
  margin-left: 25%;
}

.rs-col--offset-4 {
  margin-left: 33.33%;
}

.rs-col--offset-5 {
  margin-left: 41.66%;
}

.rs-col--offset-6 {
  margin-left: 50%;
}

.rs-col--offset-7 {
  margin-left: 58.33%;
}

.rs-col--offset-8 {
  margin-left: 66.66%;
}

.rs-col--offset-9 {
  margin-left: 75%;
}

.rs-col--offset-10 {
  margin-left: 83.33%;
}

.rs-col--offset-11 {
  margin-left: 91.66%;
}

.rs-col--offset-12 {
  margin-left: 100%;
}

.rs-col--lg-1 {
  width: 8.33%;
}

.rs-col--lg-2 {
  width: 16.66%;
}

.rs-col--lg-3 {
  width: 25%;
}

.rs-col--lg-4 {
  width: 33.33%;
}

.rs-col--lg-5 {
  width: 41.66%;
}

.rs-col--lg-6 {
  width: 50%;
}

.rs-col--lg-7 {
  width: 58.33%;
}

.rs-col--lg-8 {
  width: 66.66%;
}

.rs-col--lg-9 {
  width: 75%;
}

.rs-col--lg-10 {
  width: 83.33%;
}

.rs-col--lg-11 {
  width: 91.66%;
}

.rs-col--lg-12 {
  width: 100%;
}

@media (max-width: 900px) {
  .rs-col--sm-1 {
    width: 8.33%;
  }

  .rs-col--sm-2 {
    width: 16.66%;
  }

  .rs-col--sm-3 {
    width: 25%;
  }

  .rs-col--sm-4 {
    width: 33.33%;
  }

  .rs-col--sm-5 {
    width: 41.66%;
  }

  .rs-col--sm-6 {
    width: 50%;
  }

  .rs-col--sm-7 {
    width: 58.33%;
  }

  .rs-col--sm-8 {
    width: 66.66%;
  }

  .rs-col--sm-9 {
    width: 75%;
  }

  .rs-col--sm-10 {
    width: 83.33%;
  }

  .rs-col--sm-11 {
    width: 91.66%;
  }

  .rs-col--sm-12 {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .rs-col--xs-1 {
    width: 8.33%;
  }

  .rs-col--xs-2 {
    width: 16.66%;
  }

  .rs-col--xs-3 {
    width: 25%;
  }

  .rs-col--xs-4 {
    width: 33.33%;
  }

  .rs-col--xs-5 {
    width: 41.66%;
  }

  .rs-col--xs-6 {
    width: 50%;
  }

  .rs-col--xs-7 {
    width: 58.33%;
  }

  .rs-col--xs-8 {
    width: 66.66%;
  }

  .rs-col--xs-9 {
    width: 75%;
  }

  .rs-col--xs-10 {
    width: 83.33%;
  }

  .rs-col--xs-11 {
    width: 91.66%;
  }

  .rs-col--xs-12 {
    width: 100%;
  }
}
