@import '../../../styles/mixins';

.isMultipleSelected {
  .vs-table__tr {
    .vs-table__td {
      border-radius: 0 !important;
    }
  }
}

.vs-table__tr.selected {
  .vs-table__td {
    background: -color('color', 0.1) !important;
    color: -color('color', 1) !important;
  }
}

.vs-table__tr.vs-change-color {
  .vs-table__td {
    background: -color('color', 0.1) !important;
    color: -color('color', 1) !important;

    &:hover {
      background: -color('color', 0.2) !important;
    }
  }

  &:hover {
    .vs-table__td {
      background: -color('color', 0.2) !important;
    }
  }
}

.vs-table__tr {
  padding: 5px;
  border: 0;

  &:first-of-type {
    .vs-table__td {
      &:last-child {
        border-radius: 0 0 15px 0;
      }

      &:first-child {
        border-radius: 0 0 0 15px;
      }
    }
  }

  .vs-table__td {
    background: -color('bg', 0.1);
    color: -color('bg', 1);
  }

  &:hover {
    .vs-table__td {
      background: -color('gray-1');
    }
  }
}

.vs-table__tr.expand {
  cursor: pointer;
}

.fade-expand-leave-to {
  opacity: 0;

  td {
    .vs-table__expand__td__content {
      height: 0 !important;
    }
  }
}

.fade-expand-enter {
  opacity: 0;

  td {
    .vs-table__expand__td__content {
      height: 0 !important;
    }
  }
}

.vs-table__tr__expand {
  border: 0;
  transition: all 0.25s ease;

  td {
    padding: 0;
    border: 0;
    background: -color('gray-1') !important;
    transition: all 0.25s ease;

    .vs-table__expand__td__content {
      display: block;
      overflow: hidden;
      transition: all 0.25s ease;
    }

    .vs-table__expand__td__content__sub {
      position: relative;
      z-index: 1;
      padding: 10px 15px;
    }
  }
}

.vs-table__tr.isExpand {
  &:first-of-type {
    .vs-table__td {
      border-radius: 0;
      background: -color('gray-1') !important;
    }
  }

  &:not(:first-of-type) {
    .vs-table__td {
      background: -color('gray-1') !important;

      &:last-child {
        border-radius: 0 15px 0 0;
      }

      &:first-child {
        border-radius: 15px 0 0 0;
      }
    }

    + {
      .vs-table__tr__expand {
        td {
          border-radius: 0 0 15px 15px !important;
        }
      }
    }
  }
}

.fade-expand-enter-active {
  transition: all 0.25s ease;
}

.fade-expand-leave-active {
  transition: all 0.25s ease;
}
