@import '../../styles/mixins';

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes waves {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}

@keyframes corners {
  0% {
    border-radius: 50%;
    transform: rotate(0deg);
  }

  25% {
    border-radius: 50% 50% 50% 15%;
  }

  50% {
    border-radius: 50% 50% 15% 30%;
  }

  75% {
    border-radius: 50% 15% 30% 30%;
  }

  100% {
    border-radius: 50%;
    transform: rotate(-180deg);
  }
}

@keyframes points {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -15px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes rotateSquare {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes rectangle {
  0% {
    transform: translate(-50px);
  }

  50% {
    transform: translate(50px);
  }

  100% {
    transform: translate(-50px);
  }
}

@keyframes squareRotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  25% {
    transform: rotateX(180deg) rotateY(0deg);
  }

  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }

  75% {
    transform: rotateX(0deg) rotateY(180deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

@keyframes scale {
  0% {
    height: 5px;
  }

  50% {
    height: 25px;
  }

  0% {
    height: 5px;
  }
}

.loading-enter-active {
  transition: opacity 0.5s;
}

.loading-leave-active {
  transition: opacity 0.5s;
}

.loading-enter {
  opacity: 0;
}

.loading-leave-to {
  opacity: 0;
}

.rs-loading {
  --rs-color: var(--rs-primary);
  --rs-background: 255, 255, 255;
  --rs-opacity: 0.6;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: -color('background', -var('opacity'));
  transition: all 0.25s ease;
  align-items: center;
  justify-content: center;
}

.rs-loading--target {
  position: absolute;
}

.rs-loading__load {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rs-loading__load__text {
  margin: 7px;
  color: -color('color');
  font-weight: bold;
  font-size: 0.75em;
}

.rs-loading__load__percent {
  position: relative;
  z-index: 200;
  margin-top: 1px;
  color: -color('color');
  font-weight: bold;
  font-size: 0.65rem;
}

.rs-loading__load__animation {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.rs-loading__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: -color('color', 0.2);
}

.rs-loading__progress__bar {
  position: relative;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background: -color('color');
}

.rs-loading--default {
  .rs-loading__load__animation {
    border-radius: 50%;
  }

  .rs-loading__load__animation__1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 3px solid -color('color');
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-radius: inherit;
    animation: rotate 0.8s ease infinite;
  }

  .rs-loading__load__animation__2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 3px dashed -color('color');
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-radius: inherit;
    opacity: 0.2;
    animation: rotate 0.8s linear infinite;
  }

  .rs-loading__load__animation__3 {
    display: none;
  }
}

.rs-loading--waves {
  .rs-loading__load__animation {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rs-loading__load__animation__1 {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0 0 10px 0 -color('color', 0.5);
    animation: waves 0.7s ease infinite;
  }

  .rs-loading__load__animation__2 {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0 0 10px 0 -color('color', 0.5);
    animation: waves 1.4s linear infinite;
  }

  .rs-loading__load__animation__3 {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0 0 10px 0 -color('color', 0.5);
    animation: waves 1.75s ease infinite;
  }
}

.rs-loading--corners {
  .rs-loading__load__animation {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rs-loading__load__animation__1 {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid -color('color', 1);
    border-radius: 50%;
    background: transparent;
    animation: corners 1s ease infinite;
  }

  .rs-loading__load__animation__2 {
    display: none;
  }

  .rs-loading__load__animation__3 {
    display: none;
  }
}

.rs-loading--border {
  .rs-loading__load__animation {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .rs-loading__load__animation__1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid -color('color');
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: inherit;
    animation: rotate 1s linear infinite;
  }

  .rs-loading__load__animation__2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed -color('color');
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: inherit;
    animation: rotate 1s linear infinite 0.2s;
  }

  .rs-loading__load__animation__3 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed -color('color');
    border-radius: inherit;
    opacity: 0.2;
    animation: rotate 1s linear infinite 0.4s;
  }
}

.rs-loading--points {
  .rs-loading__load__percent {
    position: absolute;
    top: -10px;
  }

  .rs-loading__load__animation {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: auto;
  }

  .rs-loading__load__animation__1 {
    margin: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: -color('color');
    animation: points 0.75s ease infinite;
  }

  .rs-loading__load__animation__2 {
    margin: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: -color('color');
    animation: points 0.75s ease infinite 0.25s;
  }

  .rs-loading__load__animation__3 {
    margin: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: -color('color');
    animation: points 0.75s ease infinite 0.5s;
  }
}

.rs-loading--square {
  .rs-loading__load__animation {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rs-loading__load__animation__1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid -color('color');
    border-radius: inherit;
    animation: rotateSquare 4s ease infinite;
  }

  .rs-loading__load__animation__2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid -color('color');
    border-radius: inherit;
    background: -color('background', 1);
    animation: rotateSquare 4s ease infinite reverse;
  }

  .rs-loading__load__animation__3 {
    display: none;
  }
}

.rs-loading--gradient {
  .rs-loading__load__animation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
  }

  .rs-loading__load__animation__1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: inherit;
    border-radius: 50%;
    background: linear-gradient(0deg, -color('background', 0) 33%, -color('color', 1) 100%);
    animation: rotate 1s linear infinite;
  }

  .rs-loading__load__animation__2 {
    position: absolute;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 0;
    border-radius: inherit;
    border-radius: 50%;
    background: -color('background', 1);
  }

  .rs-loading__load__animation__3 {
    display: none;
  }
}

.rs-loading--rectangle {
  .rs-loading__load__percent {
    position: absolute;
    bottom: -2px;
  }

  .rs-loading__load__animation {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .rs-loading__load__animation__1 {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: inherit;
    background: -color('color', 1);
    animation: rectangle 1s ease infinite;
  }

  .rs-loading__load__animation__2 {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: inherit;
    background: -color('color', 0.2);
    animation: rectangle 1s ease-out infinite;
  }

  .rs-loading__load__animation__3 {
    display: none;
  }
}

.rs-loading--circles {
  .rs-loading__load__animation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
  }

  .rs-loading__load__animation__1 {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid -color('color', 1);
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-radius: 50%;
    animation: rotate 1s ease infinite;
  }

  .rs-loading__load__animation__2 {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px dashed -color('color', 1);
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-radius: 50%;
    animation: rotate 1s ease-in-out infinite;
  }

  .rs-loading__load__animation__3 {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 2px solid -color('color', 1);
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite reverse;
  }
}

.rs-loading--square-rotate {
  .rs-loading__load__percent {
    position: absolute;
    bottom: 30px;
  }

  .rs-loading__load__animation {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 60px;
    height: 60px;
  }

  .rs-loading__load__animation__1 {
    position: absolute;
    width: 25px;
    height: 25px;
    background: -color('color', 1);
    animation: squareRotate 3s ease infinite;
  }

  .rs-loading__load__animation__2 {
    display: none;
  }

  .rs-loading__load__animation__3 {
    display: none;
  }
}

.rs-loading--scale {
  .rs-loading__load__percent {
    position: absolute;
    bottom: 40px;
  }

  .rs-loading__load__animation {
    display: flex;
    align-items: cneter;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  .rs-loading__load__animation__1 {
    position: relative;
    margin: 3px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: -color('color', 1);
    animation: scale 0.8s ease infinite;
  }

  .rs-loading__load__animation__2 {
    position: relative;
    margin: 3px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: -color('color', 1);
    animation: scale 0.8s ease infinite 0.2s;
  }

  .rs-loading__load__animation__3 {
    position: relative;
    margin: 3px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: -color('color', 1);
    animation: scale 0.8s ease infinite 0.4s;
  }
}
